:root {
    --a: #665F5C;
    --b: #996E5C;
    --c: #333333;
    --d: #304030;
    --e: #5F665C;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background: var(--c);
}
.container{
    display: block;
    padding: 20px;
}
body{
    font-family: monospace;
    color: var(--e);
}
.my{
    display: block;
    border: 1px solid violet;
}
.skillWithTechnologies{
    width: 100%;
    display: inline-block;
}
.skill{
    float: left;
    /* display: inline-block; */
    width: 50%;
    height: 200px;
    padding: 5px;
    margin: 5px;
    background: var(--e);
    font-size: 25px;
}
.fin{
    padding: 10px;
    text-align: center;
    background: var(--e);
}
.fin .btnFin{
    background: var(--d);
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: var(--e);
}
.fin .btnFin:hover{
    background: var(--c);
    color: #9c9b9b;
}
.skill label{
    display: block;
    font-size: 25px;
    width: 100%;
    margin: 5px;
    color: var(--c);
    background-color: transparent;
}

.skill .inputCalc{
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: var(--e);
}
.skill .inputCalc:hover{
    border: #5F665C;
}
.skill .btn{
    padding: 7px;
    font-size: 17px;
    border: none;
    background: var(--d);
    color: var(--e);
    border-radius: 5px;
}
.skill .btn:hover{
    background-color: var(--c);
    color: #9c9b9b;
    transition: .5s;
}
.skill #result{
    background: transparent;
    color: #004e00;
    font-weight: bold;
}
/*  */
nav{
    height: 80px;
    width: 100%;
    background: var(--c);
    border-bottom: solid 0.5px var(--e);
}
nav .logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav li{
    display: inline-block;
    line-height: 75px;
    margin: 0 5px;
}
nav li a{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    background: var(--c);
}
nav li a.active,a:hover {
    background: var(--e);
    transition: .6s;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 75px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 958px) {
   nav .logo{
       font-size: 30px;
       padding-left: 50px;
   }
   nav li a{
       font-size: 16px;
   }
   .skill{
        width: 50%;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--c);
        top: 80px;
        left: -100vw;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav li a:hover, a.active{
        background: var(--e);
    }
    #check:checked ~ ul{
        left: 0;
    }
    .skill{
        width: 100%;
    }
}

@media (max-width:405px){
    nav .logo{
        font-size: 35px;
        line-height: 70px;
        padding: 0 75px;
        font-weight: bold;
    }   
    .skill{
        width: 100%;
    }
}