:root {
    --a: #665F5C;
    --b: #996E5C;
    --c: #333333;
    --d: #304030;
    --e: #5F665C;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: var(--c);
}
#squares li{
    position: relative;
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    animation: squares 3s infinite alternate;
}

@keyframes squares{
    from{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    to{
        transform: translateY(-1000px) rotate(980deg);
        opacity: 0;
    }
}

.container{
    background: var(--c);
    display: block;
    padding: 20px;
}
body{
    font-family: monospace;
    color: var(--e);
}
/* *********************************************************************************** */
.my{
    width: 100%;
    text-align: center;
    display: inline-block;
}
.my #divImg{
    width: 150px;
    height: auto;
    /* float: right; */
}
.my .contact{
    /* float: right; */
    padding: 5px;
}
.my #txtNav{
    text-align: center;
    font-size: 21px;
}
.my #fun{
    font-size: 17px;
    text-align: center;
}
/* *********************************************************************************** */
.skillWithTechnologies{
    display: flex;
}
.skill{
    background-color: var(--e);
    padding: 5px;
    width: 50%;
    margin: 5px;
    flex-wrap: wrap;
    height: auto;
}
.skill:hover{
    animation: trem 200ms ;
}
@keyframes trem{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-15%);
    }
    50%{
        transform: translateY(15%);
    }
    100%{
        transform: translateY(0);
    }
}
/* *********************************************************************************** */
.skill .calculator{
    text-align: center;
    background-color: var(--e);
}
.skill .calculator .bodyCalculator{
    display: flex;
    flex-wrap: wrap;
}
.skill .calculator label{
    font-size: 17px;
    text-align: center;
    color: var(--c);
    padding: 5px;
}
.skill .calculator  #result{
    font-size: 20px;
    color: yellowgreen;
}
.skill .calculator .bodyCalculator .inputCalc{
    margin: 3px;
    font-size: 17px;
    width: calc(50% - 8px);
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.skill .calculator .bodyCalculator .btn{
    background-color: var(--d);
    font-size: 17px;
    color: var(--e);
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.skill .calculator .bodyCalculator .btn:hover{
    color: #9c9b9b;
}
/* ************************************************************************************ */
.fin{
    text-align: center;
    padding: 10px;
    margin: 20px;
    background: var(--e);
}
.fin .btnFin:hover{
    background: var(--c);
    color: #9c9b9b;
}
.fin .btnFin{
    text-align: center;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: var(--d);
    color: var(--e);
}
/* ************************************************************************************ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--c);
    padding: 0 10px;
    border-bottom: solid 0.5px var(--e);
}
nav .logo{
    font-size: 35px;
    /* line-height: 80px; */
    padding-left: 30px;
    font-weight: bold;
}
nav ul{
    float: left;
    margin-right: 20px;
}
nav li{
    display: inline-block;
    margin: 0 5px;
    margin: 30px 10px;
}
nav li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    background: var(--c);
    color: var(--e);
}
nav li a.active,a:hover {
    background: var(--e);
    color: var(--c);
    transition: .6s;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 75px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 958px) {
   nav .logo{
       font-size: 30px;
       padding-left: 50px;
   }
   /* nav li a{
       font-size: 16px;
   } */
   .skillWithTechnologies{
        display: block;
    }
    .skill{
        width: 100%;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        background: var(--c);
        top: 0px;
        left: -100vw;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 12px;
    }
    nav li a:hover, a.active{
        background: var(--e);
    }
    #check:checked ~ ul{
        left: 0;
    }
    .skill{
        flex-direction: column;
    }
}


