.userGit {
    .divImg {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: auto;
        }
    }
    #txtNav,
    #fun {
        text-align: center;
        color: $color5;
    }
    #txtNav {
        font-size: 1.5rem;
    }
}
.items-aside {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0 auto;
}
.items-aside a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin: 5px;
    text-decoration: none;
    color: $color5;
}
i {
    font-size: 1.5rem;
}
.backgroundColor {
    background-color: rgba($color1, 0.8);
    padding-top: 10px;
}
// main
.title-background {
    background-color: $color1;
    color: $color5;
    width: 100%;
}

.body {
    display: flex;
    width: 100%;
}
p {
    line-height: 25px;
}
nav,
footer {
    background-color: #2f22bf;
}
