.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.saldo {
    display: flex;
    flex-direction: column;
    h4 {
        text-transform: uppercase;
    }
    h1 {
        color: $color2;
    }
}
.plus {
    border-right: 5px solid $color1;
}
.minus {
    border-right: 5px solid $color2;
}
.money {
    margin: 6px;
    border: none;
}
.li {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 7px;
    margin: 5px;
    color: black;
    border-radius: 4px;
    box-shadow: $box-shadow;
    word-wrap: break-word;
    button {
        background-color: $color2;
        border: none;
        color: $color3;
        padding: 7px;
        display: none;
        position: absolute;
        margin-left: -25px;
        margin-top: -5px;
    }
    &:hover button {
        display: block;
    }
}
.transactions {
    width: 100%;
}
.balance {
    color: $color1;
}
